/* Bônus - 13. Utilize o Box model - margin e padding de elementos alterados */
* {
  margin: 0;
  padding: 0;
}

/* 14. Altere atributos relacionados às fontes
O estilo da tipografia deve ter o atributo font-family. */

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 1. Adicione uma cor de fundo específica para a página */
body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  padding: 0% 50% 0% 47%;
  background-color: rgb(2, 44, 22);
  box-shadow: rgb(2, 44, 22) 20px 1px 15px 1px;
  color: rgb(95, 209, 73);
  z-index: 1;
}

h1 {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#follow_me {
  text-align: center;
  margin: 125px auto 0;
  width: 90%;
}

main {
  position: relative;
  margin: 6.7% 0% 10px;
}

h2 {
  font-size: 22px;
  color: rgb(3, 47, 3);
}

ul , ol {
  list-style: none;
  margin: 20px 10px 15px;
}

.main {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.link_color {
  color: rgb(78, 201, 54);
  text-decoration: none;
}

.link_color:hover {
  color: rgb(27, 172, 97);
  font-weight: 900;
  text-shadow: rgb(157, 204, 180) 10px 1px 10px 1px;
}

#minha_foto {
  position: relative;
  box-shadow: rgb(2, 44, 22) 1px 1px 14px 1px;
  width: 315px;
  border-radius: 10px;
  margin: 15px 10px;
}

/* 15. Posicione a tag article e a tag aside uma ao lado do outra */
.lado-esquerdo {
  float: left;
  position: relative;
  top: 22px;
  left: 10%;
  width: 30%;
}

.lado-direito {
  float: right;
  position: relative;
  top: 22px;
  left: -25%;
  width: 25%;
}

.table_course_progress {
  height: 100%;
  width: 100%;
}

table {
  margin: 20px auto;
}

/* Bônus - 13. Utilize o Box model - border de elementos alterados */
th , td {
  border: 2px solid black;
  padding: 4px;
  text-align: center;
  font-weight: 700;
}

/* 14 - O estilo da tipografia deve ter o tamanho da letra alterado; */
th {
  font-size: 18px;

  /* 14 - O estilo da tipografia deve ter a cor da letra alterada; */
  color: rgb(3, 47, 3);
}

td {
  font-size: 16px;
}

/* 14 - O estilo da tipografia deve ter o espaçamento entre as linhas alterado; */
li {
  line-height: 22px;
}

footer {
  background-color: rgb(2, 44, 22);
  box-shadow: rgb(2, 44, 22) 20px 1px 20px 1px;
  color: rgb(176, 252, 160);
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

.dash_up {
  vertical-align: 8.34%;
}

@media ( max-width : 600px ) {

  .main {
    display: block;
  }

  table {
    display: none;
  }

  .center {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .lado-esquerdo {
    float: none;
    position: relative;
    left: 0;
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .lado-direito {
    float: none;
    position: relative;
    left: 0;
    width: 90%;
    margin: 15px auto 40px;
    text-align: center;
  }
}
